<form autocomplete="off" #editProductForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>Edit product</h1>
  <mat-dialog-content style="width:600px;height:300px;">
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input
            matInput
            name="Name"
            placeholder="Product name"
            [(ngModel)]="product.name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            name="Description"
            placeholder="Product description"
            [(ngModel)]="product.description"            
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            min=0
            name="Quantity"
            placeholder="Product quantity"
            [(ngModel)]="product.quantity"  
            required         
          />
        </mat-form-field>   
        <mat-form-field>
            <input
              matInput
              type="number"
              min=0              
              name="Price"
              placeholder="Product price"
              [(ngModel)]="product.price"  
              required         
            />
        </mat-form-field>  
        <mat-form-field>
          <mat-label>Category</mat-label>         
          <select matNativeControl [(ngModel)]="categoryId" name="categoryId" required>
            <option *ngFor="
            let category of (categories
              | paginate
                : {
                    id: 'server',
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: totalItems
                  })
          " value="{{category.id}}" selected="{{category.id == categoryId}}">{{category.name}}</option>          
          </select>        
        </mat-form-field>    
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editProductForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
